
*{
    font-family: 'Open Sans', sans-serif;
}
#hero{
    background: #20272F;
}

#title{
    background: #20272F;
}

#aboutMe{
    color: white;
}

.aboutMeParagraph{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 30px;
    font-size: 16px;
}

.aboutMeHeader{
    border-left: 5px solid red;
    padding-left:10px ;
    font-weight: 400;
}

.lhogo{
    letter-spacing: 2px;
}